In [1]:
import pandas as pd

In [2]:
"""# Display all columns
pd.set_option("display.max_columns", None) 
# display all rows
pd.set_option("display.max_rows", None)"""

'# Display all columns\npd.set_option("display.max_columns", None) \n# display all rows\npd.set_option("display.max_rows", None)'

In [3]:
list_dataframe = []
for i in range(1, 13):
    #dataset/moroccan-houce-price-1.csv
    path = f"/home/marwane/mlops-projects/morocco-appartements-price/dataset/moroccan-immobilier-houses-price-{i}.csv"
    data = pd.read_csv(path)
    list_dataframe.append(data)

len(list_dataframe)

12

In [4]:
list_dataframe[0].shape

(500, 9)

In [5]:
list_dataframe

[             price  surface              piece       rooms           bathroom  \
 0     1 062 700 DH   112 m²           3 Pièces  2 Chambres    1 Salle de bain
 1       913 100 DH    60 m²    1 Salle de bain         NaN                NaN
 2       894 400 DH    71 m²           3 Pièces  2 Chambres  2 Salles de bains
 3    45 000 000 DH  2500 m²           7 Pièces  5 Chambres  4 Salles de bains
 4     2 500 000 DH   176 m²           5 Pièces  3 Chambres  3 Salles de bains
 ..             ...      ...                ...         ...                ...
 495   1 620 000 DH   130 m²           5 Pièces  2 Chambres  2 Salles de bains
 496   1 460 000 DH   108 m²           5 Pièces  3 Chambres  2 Salles de bains
 497   1 170 000 DH    87 m²           5 Pièces  2 Chambres  2 Salles de bains
 498     500 000 DH    24 m²  2 Salles de bains         NaN                NaN
 499   1 380 000 DH    93 m²           5 Pièces  2 Chambres  2 Salles de bains

                          address  \
 0      Sidi Maarouf à Casablanca
 1       Hay Hassani à Casablanca
 2         Aïn Sebaâ à Casablanca
 3    Anfa Supérieur à Casablanca
 4       Mers Sultan à Casablanca
 ..                           ...
 495       Belvédère à Casablanca
 496       Belvédère à Casablanca
 497       Belvédère à Casablanca
 498       Belvédère à Casablanca
 499       Belvédère à Casablanca

                                            description  \
 0    Appartement à vendre à Sidi Maarouf. 2 chambre...
 1    Plateau bureau à vendre en plein quartier Hay ...
 2    Très bel appartement à vendre à Ain Sebaa\nCha...
 3    Villa à démolir à vendre sur Anfa Supérieur\nV...
 4    Un Magnifique Appartement a vendre sur Casabla...
 ..                                                 ...
 495  Appartement de 130m en vente avec place de par...
 496  Appartement 108m² en vente place de parking ti...
 497  Appartement de 87m² en vente, place de parking...
 498  Locaux commerciaux de 24 à 448 m2, Chraibi Imm...
 499  Appartement de 93m² en vente avec place de par...

                                   more_features_1_dict  \
 0    {'Type de bien\nAppartement': 'Type de bien\nA...
 1    {'Type de bien\nBureau': 'Type de bien\nBureau...
 2    {'Type de bien\nAppartement': 'Type de bien\nA...
 3    {'Type de bien\nVilla': 'Type de bien\nVilla',...
 4    {'Type de bien\nAppartement': 'Type de bien\nA...
 ..                                                 ...
 495  {'Type de bien\nAppartement': 'Type de bien\nA...
 496  {'Type de bien\nAppartement': 'Type de bien\nA...
 497  {'Type de bien\nAppartement': 'Type de bien\nA...
 498  {'Type de bien\nLocal commercial': 'Type de bi...
 499  {'Type de bien\nAppartement': 'Type de bien\nA...

                                   more_features_2_dict
 0                                                   {}
 1                                                   {}
 2    {'Ascenseur': 'Ascenseur', 'Sécurité': 'Sécuri...
 3    {'Jardin': 'Jardin', 'Terrasse': 'Terrasse', '...
 4    {'Jardin': 'Jardin', 'Terrasse': 'Terrasse', '...
 ..                                                 ...
 495  {'Terrasse': 'Terrasse', 'Ascenseur': 'Ascense...
 496  {'Terrasse': 'Terrasse', 'Garage': 'Garage', '...
 497  {'Terrasse': 'Terrasse', 'Garage': 'Garage', '...
 498  {'Ascenseur': 'Ascenseur', 'Concierge': 'Conci...
 499  {'Terrasse': 'Terrasse', 'Garage': 'Garage', '...

 [500 rows x 9 columns],
              price  surface            piece       rooms           bathroom  \
 0     1 300 000 DH    93 m²         3 Pièces  2 Chambres  2 Salles de bains
 1     1 550 000 DH   119 m²         5 Pièces  3 Chambres  2 Salles de bains
 2     1 580 000 DH   123 m²         5 Pièces  3 Chambres  2 Salles de bains
 3     1 070 000 DH    46 m²          1 Pièce   1 Chambre    1 Salle de bain
 4       930 000 DH    61 m²  1 Salle de bain         NaN                NaN
 ..             ...      ...              ...         ...                ...
 495     880 000 DH    30 m²  1 Salle de bain         NaN                NaN
 496   1 820 000 DH   126 m²         3 Pièces  2 Chambres  2 Salles de bains
 497   1 050 000 DH    91 m²         4 Pièces  3 Chambres  2 Salles de bains
 498   3 400 000 DH   209 m²         4 Pièces  3 Chambres  3 Salles de bains
 499  16 800 000 DH  1120 m²         6 Pièces  5 Chambres  4 Salles de bains

                            address  \
 0           Belvédère à Casablanca
 1           Belvédère à Casablanca
 2           Belvédère à Casablanca
 3    Maârif Extension à Casablanca
 4    Maârif Extension à Casablanca
 ..                             ...
 495         Derb Omar à Casablanca
 496        Californie à Casablanca
 497         Aïn Sebaâ à Casablanca
 498        Californie à Casablanca
 499        Californie à Casablanca

                                            description  \
 0    Appartement de 93m² en vente place de parking ...
 1    Vente appartement 119m² avec place de parking\...
 2    Appartement de 123m² en vente avec place de pa...
 3    Studio à vendre à maarif ext haustanding\nStud...
 4    Local à vendre à maarif extension\nLocal à ven...
 ..                                                 ...
 495  Local à vendre Surface de 30m² dont 10m² de me...
 496  Vente d'un bel appartement à Californie. Super...
 497  Vend appartement à Aïn Sebaâ. 3 chambres\nAche...
 498  Grand Appartement à Vendre\nSaigh Immo met en ...
 499  Villa moderne avec piscine à vendre\nSaigh imm...

                                   more_features_1_dict  \
 0    {'Type de bien\nAppartement': 'Type de bien\nA...
 1    {'Type de bien\nAppartement': 'Type de bien\nA...
 2    {'Type de bien\nAppartement': 'Type de bien\nA...
 3    {'Type de bien\nAppartement': 'Type de bien\nA...
 4    {'Type de bien\nLocal commercial': 'Type de bi...
 ..                                                 ...
 495  {'Type de bien\nLocal commercial': 'Type de bi...
 496  {'Type de bien\nAppartement': 'Type de bien\nA...
 497  {'Type de bien\nAppartement': 'Type de bien\nA...
 498  {'Type de bien\nAppartement': 'Type de bien\nA...
 499  {'Type de bien\nVilla': 'Type de bien\nVilla',...

                                   more_features_2_dict
 0    {'Terrasse': 'Terrasse', 'Garage': 'Garage', '...
 1    {'Terrasse': 'Terrasse', 'Garage': 'Garage', '...
 2    {'Terrasse': 'Terrasse', 'Garage': 'Garage', '...
 3    {'Garage': 'Garage', 'Ascenseur': 'Ascenseur',...
 4                           {'Concierge': 'Concierge'}
 ..                                                 ...
 495                                                 {}
 496     {'Terrasse': 'Terrasse', 'Piscine': 'Piscine'}
 497                                                 {}
 498  {'Jardin': 'Jardin', 'Garage': 'Garage', 'Asce...
 499  {'Jardin': 'Jardin', 'Terrasse': 'Terrasse', '...

 [500 rows x 9 columns],
              price  surface            piece       rooms           bathroom  \
 0     4 350 000 DH   270 m²         4 Pièces  3 Chambres  3 Salles de bains
 1     1 045 000 DH    87 m²         3 Pièces  2 Chambres  2 Salles de bains
 2     1 350 000 DH    73 m²         2 Pièces   1 Chambre    1 Salle de bain
 3     1 100 000 DH    75 m²         3 Pièces  2 Chambres    1 Salle de bain
 4     2 700 000 DH    60 m²         2 Pièces   1 Chambre    1 Salle de bain
 ..             ...      ...              ...         ...                ...
 495   2 600 000 DH   143 m²         4 Pièces  3 Chambres  3 Salles de bains
 496  80 000 000 DH  2500 m²         6 Pièces  6 Chambres  6 Salles de bains
 497     920 000 DH    98 m²  1 Salle de bain         NaN                NaN
 498   1 800 000 DH   156 m²         4 Pièces  3 Chambres  2 Salles de bains
 499   4 500 000 DH   250 m²         6 Pièces  5 Chambres  5 Salles de bains

                             address  \
 0             Ain Diab à Casablanca
 1      Bourgogne Ouest à Casablanca
 2      Bourgogne Ouest à Casablanca
 3               Maârif à Casablanca
 4    Casablanca Marina à Casablanca
 ..                              ...
 495             Racine à Casablanca
 496         Beauséjour à Casablanca
 497             Maârif à Casablanca
 498   Maârif Extension à Casablanca
 499       Sidi Maarouf à Casablanca

                                            description  \
 0    Superbe appartement à vendre\nSaigh Immo met e...
 1    Bel appartement à vendre\nSaigh Immo met en ve...
 2    Studio neuf sans vis à vis à vendre\nSaigh Imm...
 3    Bel appartement sans vis à vis à vendre\nSaigh...
 4    Studio moderne à vendre vue sur mer\nSaigh Imm...
 ..                                                 ...
 495  Bel appartement de 3 ch ch perso à la vente\nR...
 496  Villa exceptionnelle à la vente sur Beausejour...
 497  Top Bureau bien placé sur Maarif à la vente\nM...
 498  Top appartement moderne avec terrasse à la ven...
 499  Top Villa jumelée avec piscine à la vente\nA l...

                                   more_features_1_dict  \
 0    {'Type de bien\nAppartement': 'Type de bien\nA...
 1    {'Type de bien\nAppartement': 'Type de bien\nA...
 2    {'Type de bien\nAppartement': 'Type de bien\nA...
 3    {'Type de bien\nAppartement': 'Type de bien\nA...
 4    {'Type de bien\nAppartement': 'Type de bien\nA...
 ..                                                 ...
 495  {'Type de bien\nAppartement': 'Type de bien\nA...
 496  {'Type de bien\nVilla': 'Type de bien\nVilla',...
 497  {'Type de bien\nBureau': 'Type de bien\nBureau...
 498  {'Type de bien\nAppartement': 'Type de bien\nA...
 499  {'Type de bien\nVilla': 'Type de bien\nVilla',...

                                   more_features_2_dict
 0                             {'Sécurité': 'Sécurité'}
 1         {'Garage': 'Garage', 'Sécurité': 'Sécurité'}
 2                                                   {}
 3                                                   {}
 4    {'Jardin': 'Jardin', 'Terrasse': 'Terrasse', '...
 ..                                                 ...
 495  {'Garage': 'Garage', 'Ascenseur': 'Ascenseur',...
 496  {'Jardin': 'Jardin', 'Terrasse': 'Terrasse', '...
 497  {'Ascenseur': 'Ascenseur', 'Concierge': 'Conci...
 498  {'Terrasse': 'Terrasse', 'Garage': 'Garage', '...
 499  {'Jardin': 'Jardin', 'Terrasse': 'Terrasse', '...

 [500 rows x 9 columns],
              price  surface            piece              rooms  \
 0       830 000 DH    51 m²  1 Salle de bain                NaN
 1     1 350 000 DH   103 m²         3 Pièces         2 Chambres
 2    13 500 000 DH  1050 m²         5 Pièces         5 Chambres
 3     7 000 000 DH   380 m²         5 Pièces         4 Chambres
 4     1 250 000 DH   103 m²         3 Pièces         2 Chambres
 ..             ...      ...              ...                ...
 173       7 500 DH    54 m²              NaN                NaN
 174   2 050 000 DH   123 m²              NaN                NaN
 175      12 000 DH   148 m²         3 Pièces         3 Chambres
 176   3 800 000 DH   186 m²       3 Chambres  2 Salles de bains
 177            NaN    87 m²         3 Pièces         2 Chambres

               bathroom                        address  \
 0                  NaN    Les princesses à Casablanca
 1    2 Salles de bains  Maârif Extension à Casablanca
 2    5 Salles de bains        Californie à Casablanca
 3    3 Salles de bains      Sidi Maarouf à Casablanca
 4    2 Salles de bains       Tantonville à Casablanca
 ..                 ...                            ...
 173                NaN                     Casablanca
 174                NaN        Californie à Casablanca
 175  2 Salles de bains     Triangle d'Or à Casablanca
 176                NaN                     Casablanca
 177    1 Salle de bain                            NaN

                                            description  \
 0    Bureau idéalement placé à la vente\nOffre Bure...
 1    Bel Appartement pas cher sur Bvd Ibrahim Rouda...
 2    Top Villa d'angle à démolir ou à rafraichir\nC...
 3    Villa à rénover à usage commercial ou habitati...
 4    Bel appartement pas cher à la vente\nBel appar...
 ..                                                 ...
 173  Joli studio meuble en location maarif\nMAARIF ...
 174  Bel appt vide en vente californie\nCALIFORNIE ...
 175  Bel appt vide en location triangle d'or\nTRIAN...
 176  Appt en vente route d'azemour\nROUTE D'AZEMOUR...
 177                                                NaN

                                   more_features_1_dict  \
 0    {'Type de bien\nBureau': 'Type de bien\nBureau...
 1    {'Type de bien\nAppartement': 'Type de bien\nA...
 2    {'Type de bien\nVilla': 'Type de bien\nVilla',...
 3    {'Type de bien\nVilla': 'Type de bien\nVilla',...
 4    {'Type de bien\nAppartement': 'Type de bien\nA...
 ..                                                 ...
 173  {'Type de bien\nLogement': 'Type de bien\nLoge...
 174  {'Type de bien\nLogement': 'Type de bien\nLoge...
 175  {'Type de bien\nAppartement': 'Type de bien\nA...
 176  {'Type de bien\nAppartement': 'Type de bien\nA...
 177                                                 {}

                                   more_features_2_dict
 0    {'Garage': 'Garage', 'Ascenseur': 'Ascenseur',...
 1    {'Garage': 'Garage', 'Ascenseur': 'Ascenseur',...
 2    {'Jardin': 'Jardin', 'Terrasse': 'Terrasse', '...
 3    {'Terrasse': 'Terrasse', 'Garage': 'Garage', '...
 4    {'Terrasse': 'Terrasse', 'Garage': 'Garage', '...
 ..                                                 ...
 173                                                 {}
 174                                                 {}
 175  {'Garage': 'Garage', 'Cheminée': 'Cheminée', '...
 176  {'Jardin': 'Jardin', 'Terrasse': 'Terrasse', '...
 177  {'Ascenseur': 'Ascenseur', 'Climatisation': 'C...

 [178 rows x 9 columns],
                                       price  surface      piece       rooms  \
 0                              1 650 000 DH    81 m²   3 Pièces  2 Chambres
 1                              1 135 000 DH    45 m²   2 Pièces   1 Chambre
 2                          Prix à consulter  4000 m²        NaN         NaN
 3    1 870 000 DH Baisse du prix 100 000 DH   124 m²   4 Pièces  3 Chambres
 4                              2 250 000 DH   118 m²   4 Pièces  3 Chambres
 ..                                      ...      ...        ...         ...
 495                               17 500 DH    85 m²   3 Pièces  2 Chambres
 496                            2 850 000 DH   178 m²   4 Pièces  3 Chambres
 497                            3 200 000 DH   200 m²   3 Pièces  2 Chambres
 498                           25 355 000 DH  1300 m²  10 Pièces  5 Chambres
 499                           23 500 000 DH  1131 m²   8 Pièces  4 Chambres

               bathroom                                 address  \
 0    2 Salles de bains           Maârif Extension à Casablanca
 1      1 Salle de bain             Les princesses à Casablanca
 2                  NaN                Hay Lmkansa à Casablanca
 3    2 Salles de bains                    Palmier à Casablanca
 4    2 Salles de bains               Les Hôpitaux à Casablanca
 ..                 ...                                     ...
 495  2 Salles de bains                      Oasis à Casablanca
 496  2 Salles de bains                     Racine à Casablanca
 497  2 Salles de bains              Hay Palestine à Casablanca
 498  6 Salles de bains                   Ain Diab à Casablanca
 499  4 Salles de bains  Longchamps (Hay Al Hanâa) à Casablanca

                                            description  \
 0    Sublime appartement moderne au calme\nLA SIGNA...
 1    Exceptionnel Studio Ultra Moderne Idéal Pour I...
 2    Vente terrain oulad haddou\nTerrain de 4000 m2...
 3    TOP AFFAIRE Appt 3ChS Balcon cour Garage Palmi...
 4    Appartement neuf meublé à vendre Maarif\nAppar...
 ..                                                 ...
 495                               Vidéo promotionnelle
 496  Superbe appt à vendre à Racine Bd d'Anfa\nPina...
 497  Maison de ville a vendre OULFA\nOccasion à sai...
 498  Villa commerciale a vendre sur anfa\nMaroc Cas...
 499  Somptueuse maison à vendre à Longchamps (Hay A...

                                   more_features_1_dict  \
 0    {'Type de bien\nAppartement': 'Type de bien\nA...
 1    {'Type de bien\nAppartement': 'Type de bien\nA...
 2    {'Type de bien\nTerrain': 'Type de bien\nTerra...
 3    {'Type de bien\nAppartement': 'Type de bien\nA...
 4    {'Type de bien\nAppartement': 'Type de bien\nA...
 ..                                                 ...
 495  {'Type de bien\nAppartement': 'Type de bien\nA...
 496  {'Type de bien\nAppartement': 'Type de bien\nA...
 497  {'Type de bien\nMaison': 'Type de bien\nMaison...
 498  {'Type de bien\nVilla': 'Type de bien\nVilla',...
 499  {'Type de bien\nVilla': 'Type de bien\nVilla',...

                                   more_features_2_dict
 0    {'Garage': 'Garage', 'Ascenseur': 'Ascenseur',...
 1    {'Ascenseur': 'Ascenseur', 'Concierge': 'Conci...
 2                                                   {}
 3    {'Terrasse': 'Terrasse', 'Garage': 'Garage', '...
 4    {'Jardin': 'Jardin', 'Terrasse': 'Terrasse', '...
 ..                                                 ...
 495  {'Terrasse': 'Terrasse', 'Garage': 'Garage', '...
 496  {'Terrasse': 'Terrasse', 'Garage': 'Garage', '...
 497  {'Terrasse': 'Terrasse', 'Garage': 'Garage', '...
 498  {'Jardin': 'Jardin', 'Terrasse': 'Terrasse', '...
 499         {'Garage': 'Garage', 'Piscine': 'Piscine'}

 [500 rows x 9 columns],
                 price  surface              piece       rooms  \
 0          380 000 DH    54 m²           2 Pièces  2 Chambres
 1        1 200 000 DH   127 m²           2 Pièces  2 Chambres
 2        3 200 000 DH   150 m²           2 Pièces  2 Chambres
 3        2 100 000 DH   115 m²           4 Pièces  3 Chambres
 4        2 550 000 DH   178 m²           4 Pièces  4 Chambres
 ..                ...      ...                ...         ...
 495      2 580 000 DH    90 m²  2 Salles de bains         NaN
 496  Prix à consulter   416 m²  3 Salles de bains         NaN
 497      7 550 000 DH   417 m²          10 Pièces  3 Chambres
 498     12 400 000 DH   619 m²           7 Pièces  4 Chambres
 499     14 000 000 DH  1600 m²                NaN         NaN

               bathroom                                   address  \
 0      1 Salle de bain                 Hay Albaraka à Casablanca
 1    2 Salles de bains                   Beauséjour à Casablanca
 2    2 Salles de bains  Ferme Bretonne (Hay Arraha) à Casablanca
 3    3 Salles de bains                    Oasis sud à Casablanca
 4    3 Salles de bains                 Les Hôpitaux à Casablanca
 ..                 ...                                       ...
 495                NaN             Maârif Extension à Casablanca
 496                NaN                       Maârif à Casablanca
 497  4 Salles de bains                   Californie à Casablanca
 498  4 Salles de bains           Ain Diab Extension à Casablanca
 499                NaN                     Lekrimat à Casablanca

                                            description  \
 0    Appartement A Vendre\nJe mets en vente un appa...
 1    Appartement spacieux à vendre a Beausejour\nAp...
 2    Duplex à vendre Ferme bretonne\nDuplex Luxueux...
 3    Magnifique appartement a Loasis\nLA SIGNATURE ...
 4    Vends appartement duplex 181 m2\nvends apparte...
 ..                                                 ...
 495  Local commercial a la vente de 90m2\na vendre ...
 496  Restaurant a vendre\nA VENDRE CASABLANCA RESTA...
 497  Villa comptemporaine a la vente\nCALIFORNIE CA...
 498  Villa moderne a vendre\nmagnifique villa moder...
 499  Terrain à vendre Casablanca\nTerrian à vendre ...

                                   more_features_1_dict  \
 0    {'Type de bien\nAppartement': 'Type de bien\nA...
 1    {'Type de bien\nAppartement': 'Type de bien\nA...
 2    {'Type de bien\nAppartement': 'Type de bien\nA...

In [6]:
concatenated_df = pd.concat(list_dataframe, axis=0)
concatenated_df.shape

(8353, 9)

In [7]:
print(concatenated_df.duplicated().sum())
concatenated_df=concatenated_df.drop_duplicates()

print(concatenated_df.duplicated().sum())

159
0

In [8]:
# concatenated_df = pd.read_csv("/home/marwane/mlops-projects/morocco-appartements-price/dataset/moroccan-immobilier-houses-price-1.csv")

In [9]:
concatenated_df=concatenated_df.drop_duplicates()
concatenated_df.shape

(8194, 9)

In [10]:
corpus_dict2 = concatenated_df.more_features_2_dict.values
len(corpus_dict2[12]),

(194,)

In [11]:
import ast

corpus_dict2 = concatenated_df["more_features_2_dict"].values.tolist()#"{'Type de bien\\nAppartement': 'Type de bien\\nAppartement', 'Etat\\nNouveau': 'Etat\\nNouveau', 'Étage du bien\\n1er': 'Étage du bien\\n1er', 'Orientation\\nOuest': 'Orientation\\nOuest', 'Standing\\nHaut standing': 'Standing\\nHaut standing', 'État\\nFinalisé': 'État\\nFinalisé'}"

list_corpus_dict2 = []
# Convert the string into a dictionary
for i in range(len(corpus_dict2)):
    dict_obj = ast.literal_eval(corpus_dict2[i])
    list_corpus_dict2.append(dict_obj)

len(list_corpus_dict2[12]), list_corpus_dict2[12]

(7,
 {'Terrasse': 'Terrasse',
  'Garage': 'Garage',
  'Ascenseur': 'Ascenseur',
  'Concierge': 'Concierge',
  'Salon Marocain': 'Salon Marocain',
  'Cheminée': 'Cheminée',
  'Cuisine équipée': 'Cuisine équipée'})

In [12]:
max_val = 0  # Initialize max_val outside the loop

for i in range(len(list_corpus_dict2)):
    length = len(list_corpus_dict2[i])  # Get the length of the current item
    if length > max_val:
        max_val = length  # Update max_val if a larger length is found
        max_index = i  # Update max_index to the current index


# After the loop, max_val will hold the maximum length
print(max_val)
max_index

28

765

In [13]:
list_corpus_dict2[765]

{'Jardin': 'Jardin',
 'Terrasse': 'Terrasse',
 'Garage': 'Garage',
 'Ascenseur': 'Ascenseur',
 '+ 9 extras': '+ 9 extras',
 'Vue sur mer': 'Vue sur mer',
 '+ 4 extras': '+ 4 extras',
 '+ 17 extras': '+ 17 extras',
 'Salon européen': 'Salon européen',
 '+ 3 extras': '+ 3 extras',
 'Concierge': 'Concierge',
 'Chambre rangement': 'Chambre rangement',
 'Façade extérieure': 'Façade extérieure',
 'Salon Marocain': 'Salon Marocain',
 'Antenne parabolique': 'Antenne parabolique',
 'Cheminée': 'Cheminée',
 'Sécurité': 'Sécurité',
 'Double vitrage': 'Double vitrage',
 'Cuisine équipée': 'Cuisine équipée',
 'Réfrigérateur': 'Réfrigérateur',
 'Four': 'Four',
 'Machine à laver': 'Machine à laver',
 'Micro-ondes': 'Micro-ondes',
 'Climatisation': 'Climatisation',
 'Chauffage central': 'Chauffage central',
 'Porte blindée': 'Porte blindée',
 'Piscine': 'Piscine',
 'Meublé': 'Meublé'}

In [14]:
corpus_dict2[12]

"{'Terrasse': 'Terrasse', 'Garage': 'Garage', 'Ascenseur': 'Ascenseur', 'Concierge': 'Concierge', 'Salon Marocain': 'Salon Marocain', 'Cheminée': 'Cheminée', 'Cuisine équipée': 'Cuisine équipée'}"

In [15]:
df = concatenated_df.copy()

### Dataset description

The data dataset was collected from web site called `mubawab`, I was scraped dat rlate to the appartements, scraping all features of each appartment. SO these dataset is real and it's a this project is very important to any one how want to dive in data scuance and  machine learning.

### Files

### Columns:

* surface: surface of appartment

* piece: number of (bathroom, bedroom, setroom and suisine)

* rooms: number of rooms in the house

* bathroom: number of bathroom in house

* address: address of house whre is located

* more_infos: precise infos about house

* description: explaination of house and it's pieces

* feat_infos_dic1: dictionary of main features

* feat_infos_dic2: dictionary of other features


For the last features that contains a dictionaries as a values needed more preparation to be transform each featurs as a columns, the feature feat_infos_dic1 has a lot of features and each one of them hase labels, for the feat_infos_dic2 contain also a lot features but are binary.

### Target

* price: the price of appartment and it's a target

## Function that transform columns contains dictionaries as values into columns

In [16]:
import ast

#df2 = df.copy()

# The string representation of the dictionary
dict_str1 = df["more_features_1_dict"].values.tolist()#"{'Type de bien\\nAppartement': 'Type de bien\\nAppartement', 'Etat\\nNouveau': 'Etat\\nNouveau', 'Étage du bien\\n1er': 'Étage du bien\\n1er', 'Orientation\\nOuest': 'Orientation\\nOuest', 'Standing\\nHaut standing': 'Standing\\nHaut standing', 'État\\nFinalisé': 'État\\nFinalisé'}"

list_dict1 = []
# Convert the string into a dictionary
for i in range(len(dict_str1)):
    dict_obj = ast.literal_eval(dict_str1[i])
    list_dict1.append(dict_obj)

list_dict1

dict_str2 = df["more_features_2_dict"].values.tolist()#"{'Type de bien\\nAppartement': 'Type de bien\\nAppartement', 'Etat\\nNouveau': 'Etat\\nNouveau', 'Étage du bien\\n1er': 'Étage du bien\\n1er', 'Orientation\\nOuest': 'Orientation\\nOuest', 'Standing\\nHaut standing': 'Standing\\nHaut standing', 'État\\nFinalisé': 'État\\nFinalisé'}"

list_dict2 = []  
 # Convert the string into a dictionary
for i in range(len(dict_str2)):
    dict_obj = ast.literal_eval(dict_str2[i])
    list_dict2.append(dict_obj)

In [17]:

# Function to clean the keys (remove text after \n)
def clean_key(key, value):
    return key.split('\n')[0], value.split("\n")[1]
    
#list_dict1  =  df["more_features_1_dict"].values.tolist()
# Apply the clean_key function to each dictionary's keys
cleaned_dict_list1 = [{clean_key(k, v)[0]: clean_key(k, v)[1] for k, v in zip(d.keys(), d.values())} for d in list_dict1]

# Extract the cleaned keys from each dictionary
df['dict1'] = cleaned_dict_list1 

 
# Extract the cleaned keys from each dictionary
df['dict2'] = list_dict2 #df["more_features_1_dict"].values.tolist()
 
df.head()

,price,surface,piece,rooms,bathroom,address,description,more_features_1_dict,more_features_2_dict,dict1,dict2
0,1 062 700 DH,112 m²,3 Pièces,2 Chambres,1 Salle de bain,Sidi Maarouf à Casablanca,Appartement à vendre à Sidi Maarouf. 2 chambre...,{'Type de bien\nAppartement': 'Type de bien\nA...,{},"{'Type de bien': 'Appartement', 'Etat': 'Nouve...",{}
1,913 100 DH,60 m²,1 Salle de bain,NaN,NaN,Hay Hassani à Casablanca,Plateau bureau à vendre en plein quartier Hay ...,{'Type de bien\nBureau': 'Type de bien\nBureau...,{},"{'Type de bien': 'Bureau', 'Etat': 'Nouveau', ...",{}
2,894 400 DH,71 m²,3 Pièces,2 Chambres,2 Salles de bains,Aïn Sebaâ à Casablanca,Très bel appartement à vendre à Ain Sebaa\nCha...,{'Type de bien\nAppartement': 'Type de bien\nA...,"{'Ascenseur': 'Ascenseur', 'Sécurité': 'Sécuri...","{'Type de bien': 'Appartement', 'Etat': 'Nouve...","{'Ascenseur': 'Ascenseur', 'Sécurité': 'Sécuri..."
3,45 000 000 DH,2500 m²,7 Pièces,5 Chambres,4 Salles de bains,Anfa Supérieur à Casablanca,Villa à démolir à vendre sur Anfa Supérieur\nV...,"{'Type de bien\nVilla': 'Type de bien\nVilla',...","{'Jardin': 'Jardin', 'Terrasse': 'Terrasse', '...","{'Type de bien': 'Villa', 'Etat': 'À rénover',...","{'Jardin': 'Jardin', 'Terrasse': 'Terrasse', '..."
4,2 500 000 DH,176 m²,5 Pièces,3 Chambres,3 Salles de bains,Mers Sultan à Casablanca,Un Magnifique Appartement a vendre sur Casabla...,{'Type de bien\nAppartement': 'Type de bien\nA...,"{'Jardin': 'Jardin', 'Terrasse': 'Terrasse', '...","{'Type de bien': 'Appartement', 'Etat': 'Bon é...","{'Jardin': 'Jardin', 'Terrasse': 'Terrasse', '..."

In [18]:
## Convert the list of dictionaries into a DataFrame

In [19]:
import pandas as pd

# Convert the list of dictionaries into a DataFrame
df_dict1 = pd.DataFrame(df.dict1)

# Assuming the column we want to convert is the entire DataFrame itself (as it contains dicts)
# We can expand the dictionaries to separate columns
expanded_df_dict1 = pd.json_normalize(df_dict1.to_dict(orient='records'))


df_dict2 = pd.DataFrame(df.dict2)

# Assuming the column we want to convert is the entire DataFrame itself (as it contains dicts)
# We can expand the dictionaries to separate columns
expanded_df_dict2 = pd.json_normalize(df_dict2.to_dict(orient='records'))


# Display the expanded DataFrame
print(expanded_df_dict1.shape)
expanded_df_dict1.head()

(8194, 17)

,dict1.Type de bien,dict1.Etat,dict1.État,dict1.Étage du bien,dict1.Standing,dict1.Livraison:,dict1.Etat du bien,dict1.Orientation,dict1.Type du sol,dict1.Surface habitable,dict1.Surface extérieure,dict1.Type de terrain,dict1.Constructibilité,dict1.Livraison,dict1.Statut du terrain,dict1.Surface de la parcelle,dict1.Nombre d'étages
0,Appartement,Nouveau,Finalisé,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Bureau,Nouveau,En cours de construction,8ème,Moyen standing,août 2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Appartement,Nouveau,Finalisé,NaN,Moyen standing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Villa,À rénover,NaN,NaN,NaN,NaN,Moins d'un an,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Appartement,Bon état,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
expanded_df_dict2.head()

,dict2.Ascenseur,dict2.Sécurité,dict2.Cuisine équipée,dict2.Four,dict2.Jardin,dict2.Terrasse,dict2.Garage,dict2.Piscine,dict2.Salon Marocain,dict2.Salon européen,...,dict2.+ 5 extras,dict2.+ 2 extras,dict2.Entre-seul,dict2.+ 1 extra,dict2.+ 13 extras,dict2.+ 11 extras,dict2.+ 16 extras,dict2.+ 10 extras,dict2.+ 8 extras,dict2.+ 12 extras
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Ascenseur,Sécurité,Cuisine équipée,Four,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Sécurité,NaN,NaN,Jardin,Terrasse,Garage,Piscine,Salon Marocain,Salon européen,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Ascenseur,NaN,Cuisine équipée,Four,Jardin,Terrasse,Garage,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df_main_feat = df[['price', 'surface', 'piece', 'rooms', 'bathroom', 'address', 'description']].copy()
df_main_feat.head()

,price,surface,piece,rooms,bathroom,address,description
0,1 062 700 DH,112 m²,3 Pièces,2 Chambres,1 Salle de bain,Sidi Maarouf à Casablanca,Appartement à vendre à Sidi Maarouf. 2 chambre...
1,913 100 DH,60 m²,1 Salle de bain,NaN,NaN,Hay Hassani à Casablanca,Plateau bureau à vendre en plein quartier Hay ...
2,894 400 DH,71 m²,3 Pièces,2 Chambres,2 Salles de bains,Aïn Sebaâ à Casablanca,Très bel appartement à vendre à Ain Sebaa\nCha...
3,45 000 000 DH,2500 m²,7 Pièces,5 Chambres,4 Salles de bains,Anfa Supérieur à Casablanca,Villa à démolir à vendre sur Anfa Supérieur\nV...
4,2 500 000 DH,176 m²,5 Pièces,3 Chambres,3 Salles de bains,Mers Sultan à Casablanca,Un Magnifique Appartement a vendre sur Casabla...

In [22]:
expanded_df_dict2.shape

(8194, 41)

In [23]:
data = pd.concat([df_main_feat.reset_index(drop=True), expanded_df_dict1, expanded_df_dict2], axis=1)
print(data.shape)
data.head(5)

(8194, 65)

,price,surface,piece,rooms,bathroom,address,description,dict1.Type de bien,dict1.Etat,dict1.État,...,dict2.+ 5 extras,dict2.+ 2 extras,dict2.Entre-seul,dict2.+ 1 extra,dict2.+ 13 extras,dict2.+ 11 extras,dict2.+ 16 extras,dict2.+ 10 extras,dict2.+ 8 extras,dict2.+ 12 extras
0,1 062 700 DH,112 m²,3 Pièces,2 Chambres,1 Salle de bain,Sidi Maarouf à Casablanca,Appartement à vendre à Sidi Maarouf. 2 chambre...,Appartement,Nouveau,Finalisé,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,913 100 DH,60 m²,1 Salle de bain,NaN,NaN,Hay Hassani à Casablanca,Plateau bureau à vendre en plein quartier Hay ...,Bureau,Nouveau,En cours de construction,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,894 400 DH,71 m²,3 Pièces,2 Chambres,2 Salles de bains,Aïn Sebaâ à Casablanca,Très bel appartement à vendre à Ain Sebaa\nCha...,Appartement,Nouveau,Finalisé,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,45 000 000 DH,2500 m²,7 Pièces,5 Chambres,4 Salles de bains,Anfa Supérieur à Casablanca,Villa à démolir à vendre sur Anfa Supérieur\nV...,Villa,À rénover,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2 500 000 DH,176 m²,5 Pièces,3 Chambres,3 Salles de bains,Mers Sultan à Casablanca,Un Magnifique Appartement a vendre sur Casabla...,Appartement,Bon état,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
data.to_csv("data-houses-price-orgnised.csv", index=False)

### Features processing

### Remove unwanted columnsb

In [25]:
data = pd.read_csv("data-houses-price-orgnised.csv")

/tmp/ipykernel_532629/1305649087.py:1: DtypeWarning: Columns (9,10,11,12,13,14,16,17,18,19,20,21,22,24,26,27,31,32,33,34,35,36,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("data-houses-price-orgnised.csv")

In [26]:
data.columns

Index(['price', 'surface', 'piece', 'rooms', 'bathroom', 'address',
       'description', 'dict1.Type de bien', 'dict1.Etat', 'dict1.État',
       'dict1.Étage du bien', 'dict1.Standing', 'dict1.Livraison:',
       'dict1.Etat du bien', 'dict1.Orientation', 'dict1.Type du sol',
       'dict1.Surface habitable', 'dict1.Surface extérieure',
       'dict1.Type de terrain', 'dict1.Constructibilité', 'dict1.Livraison',
       'dict1.Statut du terrain', 'dict1.Surface de la parcelle',
       'dict1.Nombre d'étages', 'dict2.Ascenseur', 'dict2.Sécurité',
       'dict2.Cuisine équipée', 'dict2.Four', 'dict2.Jardin', 'dict2.Terrasse',
       'dict2.Garage', 'dict2.Piscine', 'dict2.Salon Marocain',
       'dict2.Salon européen', 'dict2.Antenne parabolique',
       'dict2.Chauffage central', 'dict2.Concierge', 'dict2.Cheminée',
       'dict2.Climatisation', 'dict2.Double vitrage', 'dict2.Porte blindée',
       'dict2.Réfrigérateur', 'dict2.Machine à laver', 'dict2.Micro-ondes',
       'dict2.Chambre rangement', 'dict2.Façade extérieure',
       'dict2.Vue sur mer', 'dict2.Meublé', 'dict2.+ 3 extras',
       'dict2.+ 7 extras', 'dict2.+ 6 extras', 'dict2.Vue sur les montagnes',
       'dict2.+ 9 extras', 'dict2.+ 4 extras', 'dict2.+ 17 extras',
       'dict2.+ 5 extras', 'dict2.+ 2 extras', 'dict2.Entre-seul',
       'dict2.+ 1 extra', 'dict2.+ 13 extras', 'dict2.+ 11 extras',
       'dict2.+ 16 extras', 'dict2.+ 10 extras', 'dict2.+ 8 extras',
       'dict2.+ 12 extras'],
      dtype='object')

In [27]:
len(data.columns), data.shape

(65, (8194, 65))

In [28]:
data.head()

,price,surface,piece,rooms,bathroom,address,description,dict1.Type de bien,dict1.Etat,dict1.État,...,dict2.+ 5 extras,dict2.+ 2 extras,dict2.Entre-seul,dict2.+ 1 extra,dict2.+ 13 extras,dict2.+ 11 extras,dict2.+ 16 extras,dict2.+ 10 extras,dict2.+ 8 extras,dict2.+ 12 extras
0,1 062 700 DH,112 m²,3 Pièces,2 Chambres,1 Salle de bain,Sidi Maarouf à Casablanca,Appartement à vendre à Sidi Maarouf. 2 chambre...,Appartement,Nouveau,Finalisé,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,913 100 DH,60 m²,1 Salle de bain,NaN,NaN,Hay Hassani à Casablanca,Plateau bureau à vendre en plein quartier Hay ...,Bureau,Nouveau,En cours de construction,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,894 400 DH,71 m²,3 Pièces,2 Chambres,2 Salles de bains,Aïn Sebaâ à Casablanca,Très bel appartement à vendre à Ain Sebaa\nCha...,Appartement,Nouveau,Finalisé,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,45 000 000 DH,2500 m²,7 Pièces,5 Chambres,4 Salles de bains,Anfa Supérieur à Casablanca,Villa à démolir à vendre sur Anfa Supérieur\nV...,Villa,À rénover,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2 500 000 DH,176 m²,5 Pièces,3 Chambres,3 Salles de bains,Mers Sultan à Casablanca,Un Magnifique Appartement a vendre sur Casabla...,Appartement,Bon état,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

The dictionaries that we convet into data fram one of of them contain binary data so it sample to handle column we grt from it.

In [29]:
df1 = data.copy()
df_dict2 = df1[[col_name for col_name in df1.columns if "dict2" in col_name ]]

In [30]:
# format features
new_colums_name = [string.lower().replace(" ", "_").replace("dict2.", "").replace("-", "_").replace(".", "_") for string in df_dict2.columns.to_list()]
dic_ond_new_features = {}
for old_name, new_name in zip(df_dict2.columns, new_colums_name):
    dic_ond_new_features.update({old_name: new_name})


#df1["étage_du_bien"] = df1["étage_du_bien"].apply(clean_column)

df_dict2 = df_dict2.rename(columns=dic_ond_new_features) 
df_dict2.head()

,ascenseur,sécurité,cuisine_équipée,four,jardin,terrasse,garage,piscine,salon_marocain,salon_européen,...,+_5_extras,+_2_extras,entre_seul,+_1_extra,+_13_extras,+_11_extras,+_16_extras,+_10_extras,+_8_extras,+_12_extras
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Ascenseur,Sécurité,Cuisine équipée,Four,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Sécurité,NaN,NaN,Jardin,Terrasse,Garage,Piscine,Salon Marocain,Salon européen,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Ascenseur,NaN,Cuisine équipée,Four,Jardin,Terrasse,Garage,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
df_dict1 = df1[[col_name for col_name in df1.columns if "dict1" in col_name ]]

# format features
new_colums_name = [string.lower().replace(" ", "_").replace("dict1.", "").replace(":", "").replace("-", "_").replace(".", "_") for string in df_dict1.columns.to_list()]
dic_ond_new_features = {}
for old_name, new_name in zip(df_dict1.columns, new_colums_name):
    dic_ond_new_features.update({old_name: new_name})


#df1["étage_du_bien"] = df1["étage_du_bien"].apply(clean_column)

df_dict1 = df_dict1.rename(columns=dic_ond_new_features) 
df_dict1.head()

,type_de_bien,etat,état,étage_du_bien,standing,livraison,etat_du_bien,orientation,type_du_sol,surface_habitable,surface_extérieure,type_de_terrain,constructibilité,livraison,statut_du_terrain,surface_de_la_parcelle,nombre_d'étages
0,Appartement,Nouveau,Finalisé,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Bureau,Nouveau,En cours de construction,8ème,Moyen standing,août 2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Appartement,Nouveau,Finalisé,NaN,Moyen standing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Villa,À rénover,NaN,NaN,NaN,NaN,Moins d'un an,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Appartement,Bon état,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
df_dict1.columns

Index(['type_de_bien', 'etat', 'état', 'étage_du_bien', 'standing',
       'livraison', 'etat_du_bien', 'orientation', 'type_du_sol',
       'surface_habitable', 'surface_extérieure', 'type_de_terrain',
       'constructibilité', 'livraison', 'statut_du_terrain',
       'surface_de_la_parcelle', 'nombre_d'étages'],
      dtype='object')

* we e will delete this list of features, they are categorical variables but are not important ['surface_habitable', 'surface_extérieure', 'type_de_terrain', 'constructibilité', 'livraison', 'statut_du_terrain']

In [33]:
df_dict1[['surface_habitable', 'surface_extérieure', 'type_de_terrain', 'constructibilité', 'livraison', 'statut_du_terrain']].isna().sum()
df_dict1 = df_dict1.drop(["livraison"], axis=1)

In [34]:
df_dict1.head(5)

,type_de_bien,etat,état,étage_du_bien,standing,etat_du_bien,orientation,type_du_sol,surface_habitable,surface_extérieure,type_de_terrain,constructibilité,statut_du_terrain,surface_de_la_parcelle,nombre_d'étages
0,Appartement,Nouveau,Finalisé,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Bureau,Nouveau,En cours de construction,8ème,Moyen standing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Appartement,Nouveau,Finalisé,NaN,Moyen standing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Villa,À rénover,NaN,NaN,NaN,Moins d'un an,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Appartement,Bon état,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
for col_name in df_dict1.columns:
    print(f"\n______________ {col_name} ________________")
    print(df_dict1[col_name].value_counts())

______________ type_de_bien ________________
type_de_bien
Appartement         4974
Villa               1037
Local commercial     704
Terrain              547
Bureau               395
Maison               294
Logement              14
Riad                  11
Ferme                  4
Name: count, dtype: int64

______________ etat ________________
etat
Bon état     4088
Nouveau      1783
À rénover     347
Name: count, dtype: int64

______________ état ________________
état
Finalisé                    402
En cours de construction    206
Name: count, dtype: int64

______________ étage_du_bien ________________
étage_du_bien
3ème     800
1er      773
2ème     714
4ème     607
5ème     437
6ème     126
7ème      91
8ème      22
10ème     18
12ème     13
9ème      11
20ème      6
18ème      5
15ème      4
11ème      3
19ème      2
13ème      2
14ème      1
17ème      1
Name: count, dtype: int64

______________ standing ________________
standing
Haut standing     363
Moyen standing    166
Économique         16
Name: count, dtype: int64

______________ etat_du_bien ________________
etat_du_bien
10-20 ans          1336
5-10 ans            993
1-5 ans             707
Moins d'un an       627
20-30 ans           502
30-50 ans           136
50-70 ans            35
70-100 ans            7
Plus de 100 ans       3
Name: count, dtype: int64

______________ orientation ________________
orientation
Sud      1320
Ouest     631
Est       463
Nord      261
Name: count, dtype: int64

______________ type_du_sol ________________
type_du_sol
Marbre       2062
Carrelage    1324
Parquet       292
Name: count, dtype: int64

______________ surface_habitable ________________
surface_habitable
118 m²    2
103 m²    2
33 m²     2
86 m²     2
88 m²     2
         ..
240 m²    1
200 m²    1
246 m²    1
106 m²    1
51 m²     1
Name: count, Length: 71, dtype: int64

______________ surface_extérieure ________________
surface_extérieure
15 m²     4
20 m²     3
0 m²      3
30 m²     3
5 m²      2
18 m²     2
60 m²     2
16 m²     2
14 m²     1
135 m²    1
8 m²      1
13 m²     1
44 m²     1
132 m²    1
10 m²     1
74 m²     1
11 m²     1
19 m²     1
2 m²      1
26 m²     1
3 m²      1
6 m²      1
57 m²     1
33 m²     1
24 m²     1
150 m²    1
36 m²     1
37 m²     1
Name: count, dtype: int64

______________ type_de_terrain ________________
type_de_terrain
Lots de villa                          8
Groupement d'habitation                7
Commercial                             5
Industriel                             1
Commercial, Groupement d'habitation    1
Name: count, dtype: int64

______________ constructibilité ________________
constructibilité
R+1    6
R+3    5
R+5    3
R+4    2
R+7    1
Name: count, dtype: int64

______________ statut_du_terrain ________________
statut_du_terrain
Loti        6
Non loti    2
Name: count, dtype: int64

______________ surface_de_la_parcelle ________________
surface_de_la_parcelle
500 m²     2
650 m²     1
1100 m²    1
460 m²     1
944 m²     1
326 m²     1
1270 m²    1
721 m²     1
568 m²     1
1730 m²    1
2000 m²    1
477 m²     1
440 m²     1
1001 m²    1
140 m²     1
330 m²     1
249 m²     1
475 m²     1
968 m²     1
1938 m²    1
Name: count, dtype: int64

______________ nombre_d'étages ________________
nombre_d'étages
2.0    7
1.0    7
3.0    2
4.0    1
Name: count, dtype: int64

### To binary data (0 & 1)

In [36]:
df_dict2.head()

,ascenseur,sécurité,cuisine_équipée,four,jardin,terrasse,garage,piscine,salon_marocain,salon_européen,...,+_5_extras,+_2_extras,entre_seul,+_1_extra,+_13_extras,+_11_extras,+_16_extras,+_10_extras,+_8_extras,+_12_extras
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Ascenseur,Sécurité,Cuisine équipée,Four,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Sécurité,NaN,NaN,Jardin,Terrasse,Garage,Piscine,Salon Marocain,Salon européen,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Ascenseur,NaN,Cuisine équipée,Four,Jardin,Terrasse,Garage,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
def to_binary(column_name):
    #values = data[column_name].values.tolist()
    if column_name==column_name:
        return 1
    else:
        return 0

In [38]:
for column_name in df_dict2.columns:
    df_dict2.loc[:,column_name] = df_dict2[column_name].apply(to_binary)
 
df_dict2.head()

,ascenseur,sécurité,cuisine_équipée,four,jardin,terrasse,garage,piscine,salon_marocain,salon_européen,...,+_5_extras,+_2_extras,entre_seul,+_1_extra,+_13_extras,+_11_extras,+_16_extras,+_10_extras,+_8_extras,+_12_extras
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,1,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,1,0,0,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
4,1,0,1,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [39]:
df.columns

Index(['price', 'surface', 'piece', 'rooms', 'bathroom', 'address',
       'description', 'more_features_1_dict', 'more_features_2_dict', 'dict1',
       'dict2'],
      dtype='object')

In [40]:
df_dict1.shape

(8194, 15)

In [41]:
df_dict1["type_de_terrain"].value_counts()

type_de_terrain
Lots de villa                          8
Groupement d'habitation                7
Commercial                             5
Industriel                             1
Commercial, Groupement d'habitation    1
Name: count, dtype: int64

In [42]:
df_dict1["type_du_sol"].value_counts()#.sum()

type_du_sol
Marbre       2062
Carrelage    1324
Parquet       292
Name: count, dtype: int64

In [43]:
df_dict1.head()

,type_de_bien,etat,état,étage_du_bien,standing,etat_du_bien,orientation,type_du_sol,surface_habitable,surface_extérieure,type_de_terrain,constructibilité,statut_du_terrain,surface_de_la_parcelle,nombre_d'étages
0,Appartement,Nouveau,Finalisé,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Bureau,Nouveau,En cours de construction,8ème,Moyen standing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Appartement,Nouveau,Finalisé,NaN,Moyen standing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Villa,À rénover,NaN,NaN,NaN,Moins d'un an,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Appartement,Bon état,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
df_dict2.iloc[:,24:].head()

,+_3_extras,+_7_extras,+_6_extras,vue_sur_les_montagnes,+_9_extras,+_4_extras,+_17_extras,+_5_extras,+_2_extras,entre_seul,+_1_extra,+_13_extras,+_11_extras,+_16_extras,+_10_extras,+_8_extras,+_12_extras
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [45]:
prepared_data = pd.concat([df_main_feat.reset_index(drop=True), df_dict1, df_dict2], axis=1)
print(prepared_data.shape)
prepared_data = prepared_data.drop([col_name for col_name in prepared_data.columns if "extra" in col_name], axis=1)
print(prepared_data.shape)
prepared_data.to_csv("moroccan-houses-price-dataset.csv", index=False)
prepared_data.head()

(8194, 63)
(8194, 48)

,price,surface,piece,rooms,bathroom,address,description,type_de_bien,etat,état,...,porte_blindée,réfrigérateur,machine_à_laver,micro_ondes,chambre_rangement,façade_extérieure,vue_sur_mer,meublé,vue_sur_les_montagnes,entre_seul
0,1 062 700 DH,112 m²,3 Pièces,2 Chambres,1 Salle de bain,Sidi Maarouf à Casablanca,Appartement à vendre à Sidi Maarouf. 2 chambre...,Appartement,Nouveau,Finalisé,...,0,0,0,0,0,0,0,0,0,0
1,913 100 DH,60 m²,1 Salle de bain,NaN,NaN,Hay Hassani à Casablanca,Plateau bureau à vendre en plein quartier Hay ...,Bureau,Nouveau,En cours de construction,...,0,0,0,0,0,0,0,0,0,0
2,894 400 DH,71 m²,3 Pièces,2 Chambres,2 Salles de bains,Aïn Sebaâ à Casablanca,Très bel appartement à vendre à Ain Sebaa\nCha...,Appartement,Nouveau,Finalisé,...,0,0,0,0,0,0,0,0,0,0
3,45 000 000 DH,2500 m²,7 Pièces,5 Chambres,4 Salles de bains,Anfa Supérieur à Casablanca,Villa à démolir à vendre sur Anfa Supérieur\nV...,Villa,À rénover,NaN,...,0,0,0,0,0,0,0,0,0,0
4,2 500 000 DH,176 m²,5 Pièces,3 Chambres,3 Salles de bains,Mers Sultan à Casablanca,Un Magnifique Appartement a vendre sur Casabla...,Appartement,Bon état,NaN,...,1,0,0,0,0,0,0,0,0,0

## ===================== END =========================

In [46]:
prepared_data1 = prepared_data.copy()
print(prepared_data1.shape)
prepared_data1 = prepared_data1.drop([col_name for col_name in prepared_data.columns if "extra" in col_name], axis=1)
print(prepared_data1.shape)

(8194, 48)
(8194, 48)

In [47]:
prepared_data1.columns

Index(['price', 'surface', 'piece', 'rooms', 'bathroom', 'address',
       'description', 'type_de_bien', 'etat', 'état', 'étage_du_bien',
       'standing', 'etat_du_bien', 'orientation', 'type_du_sol',
       'surface_habitable', 'surface_extérieure', 'type_de_terrain',
       'constructibilité', 'statut_du_terrain', 'surface_de_la_parcelle',
       'nombre_d'étages', 'ascenseur', 'sécurité', 'cuisine_équipée', 'four',
       'jardin', 'terrasse', 'garage', 'piscine', 'salon_marocain',
       'salon_européen', 'antenne_parabolique', 'chauffage_central',
       'concierge', 'cheminée', 'climatisation', 'double_vitrage',
       'porte_blindée', 'réfrigérateur', 'machine_à_laver', 'micro_ondes',
       'chambre_rangement', 'façade_extérieure', 'vue_sur_mer', 'meublé',
       'vue_sur_les_montagnes', 'entre_seul'],
      dtype='object')

In [48]:
prepared_data1.nombre_d'étages

SyntaxError: unterminated string literal (detected at line 1) (985061990.py, line 1)

In [ ]:
sdfsd

NameError: name 'sdfsd' is not defined

### Check if the given in th text

In [ ]:
def check_term_in_text(word):
    list_values = []
    for i in range(50):
        if word in data.more_infos.values.tolist()[i]:
            list_values.append(word)
        else:
            list_values.append("NaN")
    return list_values

In [ ]:
check_term_in_text(word="parking")

In [ ]:
data.isna().sum()

In [ ]:
data=data.rename(columns={"aire": "surface"})
data.head(2)

In [ ]:
data.columns
data_dict1 = data[['Type de bien', 'Etat','Étage du bien', 'Orientation', 'Standing', 'État', 'Etat du bien', 'Type du sol', 'Livraison:', 'Surface extérieure']]

for column_name in data_dict1.columns:
       print(data_dict1[column_name].value_counts())

In [ ]:
df1 = pd.concat([data.iloc[:, :8], data_dict1, data_dict2], axis=1)
df1.head(2)

In [ ]:
df1.shape

## Clean dataset

In [ ]:
import re 


def clean_column(value):
    try:
        value = re.sub("[^0-9]","", value)#.replace("DH", "")
    except:
        value = "NaN"
    return value

df1["price"] = df1["price"].apply(clean_column)
df1["piece"] = df1["piece"].apply(clean_column)
df1["rooms"] = df1["rooms"].apply(clean_column)
df1["bathroom"] = df1["bathroom"].apply(clean_column) 
df1["surface"] = df1["surface"].apply(clean_column)   

df1.head(2)

In [ ]:


# format features
new_colums_name = [string.lower().replace(" ", "_") for string in df1.columns.to_list()]
dic_ond_new_features = {}
for old_name, new_name in zip(df1.columns, new_colums_name):
    dic_ond_new_features.update({old_name: new_name})


df1["étage_du_bien"] = df1["étage_du_bien"].apply(clean_column)

df1 = df1.rename(columns=dic_ond_new_features) 
df1.head()

In [ ]:
df1.to_csv("moroccan-houses-price-data.csv", index=False)

In [ ]:
"""
# format features
new_colums_name = [string.lower().replace(" ", "_") for string in data.columns.to_list()]
dic_ond_new_features = {}
for old_name, new_name in zip(data.columns, new_colums_name):
    dic_ond_new_features.update({old_name: new_name})

data = data.rename(columns=dic_ond_new_features) 
data.head()"""